<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Port Panda</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
 <script src="../static/script2.js"></script>
    <div class="container">
        <img src="/static/portPandaLogo.png" alt="Port Scanner Logo" style="display: block; margin: 0 auto; max-width: 200px;">
        
        <h1>Error. Something Went Wrong.</h1>
        <p>{{ error }}</p>
        
</body>
</html>